In [327]:
import numpy as np
import pandas as pd

In [328]:

train_data = pd.read_csv(r"C:\Users\Gabor\OneDrive\Documents\Code\Notebooks\data\Titanic\train.csv")
test_data = pd.read_csv(r"C:\Users\Gabor\OneDrive\Documents\Code\Notebooks\data\Titanic\test.csv")

In [329]:
train_data["Age"].fillna(train_data["Age"].mean(), inplace=True)
test_data["Age"].fillna(test_data["Age"].mean(), inplace=True)

train_data["Fare"].fillna(train_data["Fare"].mean(), inplace=True)
test_data["Fare"].fillna(test_data["Fare"].mean(), inplace=True)

In [330]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch", "Age",]

In [331]:
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

In [332]:
X.head()

   Pclass  SibSp  Parch   Age  Sex_female  Sex_male
0       3      1      0  22.0           0         1
1       1      1      0  38.0           1         0
2       3      0      0  26.0           1         0
3       1      1      0  35.0           1         0
4       3      0      0  35.0           0         1

In [333]:
from xgboost import XGBRegressor

# Define the model
model = XGBRegressor()

# Fit the model
model.fit(X, y)

[08:59:40] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [334]:
# model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
# model.fit(X, y)
# predictions = model.predict(X_test)

In [335]:
print('Predictions: ', len(predictions),' == 418')

Predictions:  418  == 418

In [336]:

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv(r"C:\Users\Gabor\OneDrive\Documents\Code\Notebooks\data\Titanic\my_submission.csv", index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!